MACOSX_DEPLOYMENT_TARGET = 15.0
SWIFT_VERSION = 5.0
WEST_APP_GROUP = group.local.westtime
WEST_USE_LOCAL_SHARED_STORAGE = YES
CODE_SIGN_STYLE = Manual
CODE_SIGN_IDENTITY = -
DEVELOPMENT_TEAM =
ENABLE_HARDENED_RUNTIME = YES
CURRENT_PROJECT_VERSION = 9
MARKETING_VERSION = 1.0.5
SWIFT_EMIT_LOC_STRINGS = YES
